<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Mark</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of list">
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.age}}</td>
            <td>{{student.mark}}</td>
            <!-- <td><button class="btn btn-warning" routerLink="../student-information/{{student.id}}">Details</button></td> -->
            <td><a href="#" class="text-success" title="View" [routerLink]="['/student-information/',student.id]"><i
                        class="material-icons">&#xE417;</i></a>
                <a href="#" class="text-primary" title="Edit"
                    (click)="modalDetail(student.id,save);$event.preventDefault()"><i
                        class="material-icons">&#xE254;</i></a>
                <a href="#" class="text-danger" title="Delete"
                    (click)="modalDetail(student.id,deleteModal);$event.preventDefault()"><i
                        class="material-icons">&#xE872;</i></a>
            </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-outline-primary" (click)="modalDetail(null,save)">Add New Student</button>
<!-- <ng-template #details let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Student-Information</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-student-information [student]="student"></app-student-information>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template> -->
<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Delete</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p><strong>Are you sure you want to delete <span class="text-primary">{{student.name}}</span> profile?</strong>
        </p>
        <p>All information associated to this user profile will be permanently deleted.
            <span class="text-danger">This operation can not be undone.</span>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Close click')">Cancel</button>
        <button type="button" class="btn btn-outline-danger"
            (click)="delete(student.id);modal.close('Ok click')">Ok</button>
    </div>
</ng-template>
<ng-template #save let-modal id="modal">
    <app-student-save (e)="setList()" [modal]="modal"></app-student-save>
</ng-template>
