<table class="table">
    <thead>
        <tr>
            <th>Likes</th>
            <th>Title</th>
            <th>URL</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let article of articles">
            <td>{{article.likes.likeNum}}<button (click)="article.likes.like()">like</button></td>
            <td><input type="text" [(ngModel)]="article.title" readonly></td>
            <td><input type="text" [(ngModel)]="article.url" readonly></td>
            <td><button (click)="update($event.target)">update</button></td>
        </tr>
    </tbody>
</table>
