<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="select(href)">
    <form th:action="${href} == null ? @{/} : @{/{href}(href=${href})}">
        <select name="language" onchange="this.form.submit()">
            <option value="en">English</option>
            <option value="haw">Tiếng Việt</option>
        </select>
    </form>
</div>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Country</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="customer : ${list}">
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.country}"></td>
            <td><a th:href="@{/edit/{id}(id=${customer.id})}">edit</a></td>
            <td><a th:href="@{/delete/{id}(id=${customer.id})}">delete</a></td>
            <td><a th:href="@{/view/{id}(id=${customer.id})}"></a>view</td>
        </tr>
    </tbody>
</table>
</body>
</html>