<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{login/layout :: boostrapHead}">
    <title>View Customers</title>
</head>
<body>
<div class="container-fluid">
    <header th:replace="~{login/layout :: hitdo}">
    </header>
    <div class="row">
        <div th:replace="~{login/layout :: left-body('customer')}"></div>
        <div class="col-lg-10">
            <div th:object="${customer}">
                <h2>View Customer</h2>
                <div class="form-group">
                    <label for="id">ID</label>
                    <input readonly type="text" class="form-control" th:field="*{id}" id="id">
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input readonly type="text" class="form-control" th:field="*{name}" id="name">
                </div>
                <div class="form-group">
                    <label for="area">Area</label>
                    <input readonly type="text" class="form-control" th:field="*{customerType.name}" id="area"
                           placeholder="area...">
                </div>
                <div class="form-group">
                    <label for="dateOfBirth">Date Of Birth</label>
                    <input readonly type="date" class="form-control" th:field="*{dateOfBirth}" id="dateOfBirth">
                </div>
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <input readonly type="text" class="form-control" th:field="*{gender}" id="gender"
                           placeholder="Quantity Max...">
                </div>
                <div class="form-group">
                    <label for="idCard">ID Card</label>
                    <input readonly type="text" class="form-control" th:field="*{idCard}" id="idCard">
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input readonly type="text" class="form-control" th:field="*{phone}" id="phone">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input readonly type="text" class="form-control" th:field="*{email}" id="email">
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input readonly type="text" class="form-control" th:field="*{address}"
                           id="address">
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{login/layout :: footer}"></footer>
<script th:replace="~{login/layout :: jquery}"></script>
<script th:replace="~{login/layout :: popper}"></script>
<script th:replace="~{login/layout :: boostrap}"></script>
</body>
</html>