table{
    border-collapse: collapse;
    width: 500px;
    margin: 100px 500px;
}
th{
    border-style : hidden;
}
td{
    border-color: #cfc7cb;
}
.cn{
    color: red;
}
.t7{
    color: blue;
}
.b{
    background-color: #ffa813;
}
#a{
    color: white;
}
#sun{
    background-color: red;
}
#sat{
    background-color:blue;
}


