#h1{
    text-align: center;
    font-size: 30px;margin-bottom: 0px;
    color: white;background-color: #ff7652;
    margin-top: 10px;
}
#h2{
    font-size: 30px;margin-bottom: 0px;
    margin-top: 10px;
    background-color: #ced4ff;color: #382eff;
}
#form2{
    background-color: #ffdc70;
    margin: 10px 300px;
}
.sothich{
    color: #ff7652;
}
#form1{
    padding: 0px 500px;
}
label{
    text-align: left;
    color: dodgerblue;
    font-size: 20px;
}
#label1{
    margin-left: 50px;
    margin-top: 0px;
    padding-top: 0px;
}
#label9{
    margin-left: 86px;
}
#label10{
    margin-left: 66px;
}
.sothich{
    color: #ff7652;
}
#name{
    margin-left: 10px;
}
#submit{
    margin-left: 145px;
}
.width200{
    width: 200px;
}
.width150{
    width: 150px;
}
.marginleft10{
    margin-left: 10px;
}
.marginleft15{
    margin-left: 15px;
}
.marginleft58{
    margin-left: 58px;
}
#marginleft59{
    margin-left: 59px;
}
#marginleft60{
    margin-left: 60px;
}
#marginleft70{
    margin-left: 70px;
}
#marginleft85{
    margin-left: 85px;
}
.marginleft105{
    margin-left: 105px;
}
.marginleft140{
    margin-left: 140px;
}
#luotweb{
    margin-left: 146px;
}
#dulich{
    margin-left: 146px;
}
.marginleft95{
    margin-left: 95px;
}
