<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Category</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <style>
        .form-control {
            width: 400px;
        }

        .form-group {
            margin-left: 30px;
        }
    </style>
</head>
<body>
<form th:action="@{/category/save}" method="post" th:object="${category}">
    <div class="form-group">
        <input type="text" class="form-control" id="formId" hidden th:field="*{id}">
    </div>
    <div class="form-group">
        <label for="formName">Name: </label>
        <input type="text" class="form-control" id="formName" required th:field="*{name}">
    </div>
    <button style="margin-left: 30px" type="submit" class="btn btn-primary" name="action" value="create">Save</button>
    <a th:href="@{/}" style="margin-left: 30px" class="btn btn-secondary" role="button">Close
    </a>
</form>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
</html>