<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{login/layout :: boostrapHead}">
    <meta charset="UTF-8">
    <title>List Employees</title>
</head>

<body>
<div th:replace="~{login/layout :: header('employees')}">
</div>
<div class="container-fluid" style="padding:0">
    <div class="row">
        <div th:replace="~{login/layout :: left-body('employees')}">
        </div>
        <div class="col-lg-10">
            <div id="list">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Date of Birth</th>
                        <th scope="col">ID Card</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Email</th>
                        <th scope="col">Address</th>
                        <th scope="col">Position</th>
                        <th scope="col">Education Degree</th>
                        <th scope="col">Division</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="employee : ${list}">
                        <td th:text="${employee.id}"></td>
                        <td th:text="${employee.name}"></td>
                        <td th:text="${employee.dateOfBirth}"></td>
                        <td th:text="${employee.idCard}"></td>
                        <td th:text="${employee.salary}"></td>
                        <td th:text="${employee.phone}"></td>
                        <td th:text="${employee.email}"></td>
                        <td th:text="${employee.address}"></td>
                        <td th:text="${employee.position.name}"></td>
                        <td th:text="${employee.educationDegree.name}"></td>
                        <td th:text="${employee.division.name}"></td>
                        <td><a th:href="@{/employees/view/{id}(id=${employee.id})}" class="text-success" title="View"
                               data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                            <a th:href="@{/employees/edit/{id}(id=${employee.id})}" class="text-primary" title="Edit"
                               data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            <a href="#" th:id="${employee.id}" class="text-danger delete" title="Delete"
                               data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<nav aria-label="..." class="float-right mr-5">
    <input type="hidden" id="page" value="1">
    <ul class="pagination">
        <li class='page-item disabled' id="previous">
            <a class='page-link' href='#' tabindex='-1'>Previous</a>
        </li>
        <li class='page-item active' id="first"><a id="firstA" class='page-link' href='#'>1</a></li>
        <li th:if="${list.totalPages > 1}" class='page-item' id="second"><a id="secondA" class='page-link'
                                                                            href='#'>2</a></li>
        <li th:if="${list.totalPages <= 1}" class='page-item disabled' id="second"><a id="secondA"
                                                                                      class='page-link'
                                                                                      href='#'>2</a></li>
        <li th:if="${list.totalPages < 3}" class='page-item disabled' id="third"><a id="thirdA"
                                                                                    class='page-link'
                                                                                    href='#'>3</a></li>
        <li th:if="${list.totalPages >= 3}" class='page-item' id="third"><a id="thirdA" class='page-link'
                                                                            href='#'>3</a></li>
        <li th:if="${list.totalPages == 1}" class='page-item disabled' id="next">
            <a class='page-link' href='#'>Next</a>
        </li>
        <li th:if="${list.totalPages > 1}" class='page-item' id="next">
            <a class='page-link' href='#'>Next</a>
        </li>
    </ul>
</nav>
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="#" id="delete" type="button" class="btn btn-primary">Delete</a>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{login/layout :: footer}"></footer>
<script th:replace="~{login/layout :: jquery}"></script>
<script th:replace="~{login/layout :: popper}"></script>
<script th:replace="~{login/layout :: boostrap}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#key').on("keyup", function () {
            let type = $('#type').val();
            let key = $('#key').val();
            console.log(key + type);
            if (key == null) {
                key = "";
            }
            $.ajax({
                url: "/" + type.toLowerCase() + "/search?key=" + key,
                type: "GET",
                success: function (data) {
                    // console.log(data);
                    let content = data.content;
                    let table = "<table class='table table-hover'><thead><tr><th scope='col'>ID</th><th scope='col'>Name</th><th scope='col'>Date Of Birth</th><th scope='col'>ID Card</th><th scope='col'>Salary</th><th scope='col'>Phone</th><th scope='col'>Email</th><th scope='col'>Position</th><th scope='col'>Education Degree</th><th scope='col'>Division</th><th scope='col'>Action</th></tr></thead><tbody>";
                    for (let i = 0; i < content.length; i++) {
                        table += "<tr>";
                        table += "<td>" + content[i].id + "</td>";
                        table += "<td>" + content[i].name + "</td>";
                        table += "<td>" + content[i].dateOfBirth + "</td>";
                        table += "<td>" + content[i].idCard + "</td>";
                        table += "<td>" + content[i].salary + "</td>";
                        table += "<td>" + content[i].phone + "</td>";
                        table += "<td>" + content[i].email + "</td>";
                        table += "<td>" + content[i].address + "</td>";
                        table += "<td>" + content[i].position.name + "</td>";
                        table += "<td>" + content[i].educationDegree.name + "</td>";
                        table += "<td>" + content[i].division.name + "</td><td>";
                        table += "<a href='/employee/view/" + content[i].id + "'><i class='material-icons text-success'>&#xE417;</i></a>";
                        table += "<a href='/employee/edit/" + content[i].id + "'><i class='material-icons text-primary'>&#xE254;</i></a>";
                        table += "<a href='#' id='" + content[i].id + "' class='text-danger delete' title='Delete' data-toggle='tooltip'><i class='material-icons text-danger'>&#xE872;</i></a>";
                        table += "</td></tr>";
                    }
                    table += "</tbody></table>";
                    $('#list').html(table);
                    $('#key').val(key);
                },
                error: function () {
                    console.log("error");
                }
            });
            event.preventDefault();
        });
    });
    $(document).ready(function () {
        $('.page-link').click(function () {
            let type = $('#type').val();
            let key = $('#key').val();
            let page = $(this).html();
            if (page == 'Previous') {
                page = $('#page').val() * 1 - 1;
            } else if (page == 'Next') {
                page = $('#page').val() * 1 + 1;
            }
            if (key == null) {
                key = "";
            }
            let url = "/" + type.toLowerCase() + "/search?key=" + key + "&page=" + page;
            console.log(url);
            $.ajax({
                url: url,
                type: "GET",
                success: function (data) {
                    let content = data.content;
                    console.log(content);
                    let table = "<table class='table table-hover'><thead><tr><th scope='col'>ID</th><th scope='col'>Name</th><th scope='col'>Date Of Birth</th><th scope='col'>ID Card</th><th scope='col'>Salary</th><th scope='col'>Phone</th><th scope='col'>Email</th><th scope='col'>Position</th><th scope='col'>Education Degree</th><th scope='col'>Division</th><th scope='col'>Action</th></tr></thead><tbody>";
                    for (let i = 0; i < content.length; i++) {
                        table += "<tr>";
                        table += "<td>" + content[i].id + "</td>";
                        table += "<td>" + content[i].name + "</td>";
                        table += "<td>" + content[i].dateOfBirth + "</td>";
                        table += "<td>" + content[i].idCard + "</td>";
                        table += "<td>" + content[i].salary + "</td>";
                        table += "<td>" + content[i].phone + "</td>";
                        table += "<td>" + content[i].email + "</td>";
                        table += "<td>" + content[i].address + "</td>";
                        table += "<td>" + content[i].position.name + "</td>";
                        table += "<td>" + content[i].educationDegree.name + "</td>";
                        table += "<td>" + content[i].division.name + "</td><td>";
                        table += "<a href='/employee/view/" + content[i].id + "'><i class='material-icons text-success'>&#xE417;</i></a>";
                        table += "<a href='/employee/edit/" + content[i].id + "'><i class='material-icons text-primary'>&#xE254;</i></a>";
                        table += "<a href='#' id='" + content[i].id + "' class='text-danger delete' title='Delete' data-toggle='tooltip'><i class='material-icons text-danger'>&#xE872;</i></a>";
                        table += "</td></tr>";
                    }
                    table += "</tbody></table>";
                    if (data.totalPages < 2) {
                        document.getElementById("previous").className = "page-item disabled";
                        document.getElementById("first").className = "page-item active";
                        document.getElementById("second").className = "page-item disabled";
                        document.getElementById("third").className = "page-item disabled";
                        document.getElementById("next").className = "page-item disabled";
                        $('#firstA').html("1");
                        $('#secondA').html("2");
                        $('#thirdA').html("3");
                    } else if (data.totalPages == 2) {
                        document.getElementById("third").className = "page-item disabled";
                        if (page < 2){
                            document.getElementById("previous").className = "page-item disabled";
                            document.getElementById("first").className = "page-item active";
                            document.getElementById("second").className = "page-item";
                            document.getElementById("next").className = "page-item";
                            $('#firstA').html("1");
                            $('#secondA').html("2");
                            $('#thirdA').html("3");
                        } else {
                            document.getElementById("previous").className = "page-item";
                            document.getElementById("first").className = "page-item";
                            document.getElementById("second").className = "page-item active";
                            document.getElementById("next").className = "page-item disabled";
                            $('#firstA').html("1");
                            $('#secondA').html("2");
                            $('#thirdA').html("3");
                        }
                    } else {
                        if (page < 2){
                            document.getElementById("previous").className = "page-item disabled";
                            document.getElementById("first").className = "page-item active";
                            document.getElementById("second").className = "page-item";
                            document.getElementById("third").className = "page-item";
                            document.getElementById("next").className = "page-item";
                            $('#firstA').html("1");
                            $('#secondA').html("2");
                            $('#thirdA').html("3");
                        } else if (page == data.totalPages){
                            document.getElementById("previous").className = "page-item";
                            document.getElementById("first").className = "page-item";
                            document.getElementById("second").className = "page-item";
                            document.getElementById("third").className = "page-item active";
                            document.getElementById("next").className = "page-item disabled";
                            $('#firstA').html(page - 2);
                            $('#secondA').html(page - 1);
                            $('#thirdA').html(page);
                        } else {
                            document.getElementById("previous").className = "page-item";
                            document.getElementById("first").className = "page-item";
                            document.getElementById("second").className = "page-item active";
                            document.getElementById("third").className = "page-item";
                            document.getElementById("next").className = "page-item";
                            $('#firstA').html(page - 1);
                            $('#secondA').html(page);
                            $('#thirdA').html(page * 1 + 1);
                        }
                    }
                    $('#list').html(table);
                    $('#key').val(key);
                    $('#page').val(page);
                },
                error: function () {
                    console.log("error");
                }
            });
            event.preventDefault();
        });
    });
    $(document).ready(function () {
        $('.delete').click(function () {
            let tag = $(this)[0];
            document.getElementById("delete").href = "/employees/delete/" + tag.id;
            let inner = "Can't recovery employee_id : "+tag.id+" if deleted.Are you sure?";
            $('#modal-body').html(inner);
            $("#modelId").modal('show');
        })
    })
</script>
</body>
</html>