<form [formGroup]="form" (submit)="modal.close('Save click');" novalidate>
    <div class="modal-header">
        <h4 class="modal-title">Student-Save</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!-- {{student.name}} -->
        <div class="form-group mb-2">
            <label for="nameForm">Name</label>
            <input id="nameForm" formControlName="name" type="text"
                [ngClass]="formControlClass + getClass('name') + ' '">
            <div class="mt-2">
                <div *ngIf="name.dirty ||name.touched">
                    <div *ngIf="!name.valid">
                        <div [hidden]="!name.errors.required" class="text-danger">
                            Name is required!
                        </div>
                        <div [hidden]="!name.errors.name" class="text-danger">
                            Please use your real name!
                        </div>
                    </div>
                    <div [hidden]="name.valid === false">
                        <div class="text-success">
                            Looks good!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group mb-2">
            <label for="ageForm">Age</label>
            <input id="ageForm" formControlName="age" type="text" [ngClass]="formControlClass + getClass('age') + ' '">
            <div class="mt-2">
                <div *ngIf="age.dirty || age.touched">
                    <div *ngIf="!age.valid">
                        <div [hidden]="age.errors.pattern">
                            <div [hidden]="!age.errors.required" class="text-danger">
                                Age is required!
                            </div>
                            <div [hidden]="age.errors.required && (age.errors.min == null || age.errors.max == null)" class="text-danger">
                                Age must more than or equal 18 and less than 100!
                            </div>
                        </div>
                        <div class="text-danger" [hidden]="!age.errors.pattern">
                            Age is number!
                        </div>
                    </div>
                    <div [hidden]="age.valid === false">
                        <div class="text-success">
                            Looks good!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group mb-2">
            <label for="markForm">Mark</label>
            <input id="markForm" formControlName="mark" type="text"
                [ngClass]="formControlClass + getClass('mark') + ' '">
            <div class="mt-2">
                <div *ngIf="mark.dirty || mark.touched">
                    <div *ngIf="!mark.valid">
                        <div [hidden]="mark.errors.pattern">
                            <div [hidden]="!mark.errors.required" class="text-danger">
                                Mark is required!
                            </div>
                            <div [hidden]="mark.errors.min == null && mark.errors.max == null" class="text-danger">
                                Mark must more than or equal 0 and less than 10!
                            </div>
                        </div>
                        <div class="text-danger" [hidden]="!mark.errors.pattern">
                            Mark is number!
                        </div>
                    </div>
                    <div [hidden]="mark.valid === false">
                        <div class="text-success">
                            Looks good!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group mb-2">
            <label for="avatarForm">Avatar Source</label>
            <input id="avatarForm" formControlName="avatar" type="text"
                [ngClass]="formControlClass + getClass('avatar') + ' '">
            <div class="mt-2">
                <div *ngIf="avatar.dirty ||avatar.touched">
                    <div *ngIf="!avatar.valid">
                        <div [hidden]="!avatar.errors.required" class="text-danger">
                            Avatar is required!
                        </div>
                    </div>
                    <div [hidden]="avatar.valid === false">
                        <div class="text-success">
                            Looks good!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Close click')">Close</button>
        <button class="btn btn-outline-danger" (click)="submitForm($event);" type="submit">Save</button>
    </div>
</form>