
form{
    margin-left: 400px;
    width: 400px;
    background-color: #ffc792;
}
h2{
    text-align: center;
}
label{
    margin-left: 20px;
}
input{
    margin-bottom: 10px;
}
#submit{
    margin-left: 100px;
}
#marginleft1{
    margin-left: 1px;
}
#marginleft60{
    margin-left: 60px;
}
#marginleft20{
    margin-left: 20px;
}
#marginleft22{
    margin-left: 22px;
}
#marginleft30{
    margin-left: 30px;
}
#marginleft40{
    margin-left: 40px;
}
#marginleft47{
    margin-left: 47px;
}