table{
    border-collapse: collapse;
    width: 500px;
    height: 200px;
}
body{
    background-color: #d6d6d6;
    margin: 30px 500px;
}
th{
    font-weight: bolder;
}

.gender{
    text-align: center;
    font-weight: bolder;
}